@model ScheduleViewModel

@{
    object? RenderItemTagIfTrue(string innerHtml, bool flag)
    {
        if (flag){
    <span class="todoitem-tag"> @innerHtml </span>
        } 

        return null;
    }
}

<div class="schedule">
    @foreach (IScheduledItem scheduleItem in Model.Items)
    {
        @if (scheduleItem is FreeTimeInterval fti)
        {
            <div class="schedule-left">
                @fti.ScheduledTime?.Start.ToString("HH:mm")
            </div>
            <div class="schedule-right todoitem schedule-freetime">
                @fti.intervalDescription
            </div>
        }
        else if (scheduleItem is TodoItem todo)
        {
            <div class="schedule-left">
                @todo.ScheduledTime?.Start.ToString("HH:mm")
            </div>
            <div class="schedule-right todoitem @(todo.Done ? "done" : "") @(todo.Id == ViewBag.HoveredTodoId ? "loaded-hovered" : "")">
                <div class="todoitem-left">
                    <button class="todoitem-btn-done" id="@todo.Id" onclick="handleBtnDoneClick(this)"></button>
                </div>
                <div class="todoitem-right">
                    <div class="todoitem-desc">
                        @todo.Description
                    </div>
                    <div class="todoitem-info">
                        @RenderItemTagIfTrue("done", todo.Done)
                    </div>
                </div>
            </div>
        }
    }
</div>
