@model IEnumerable<TodoItem>

@{
    string RenderScheduledTimeString(TodoItem todo){
        if (todo.ScheduledTime is null)
            return "unscheduled";

        var start = todo.ScheduledTime!.Start.ToString("HH:mm");
        var end = todo.ScheduledTime!.End.ToString("HH:mm");
        return $"{start} - {end}";
    }


    object? RenderItemTagIfTrue(string innerHtml, bool flag)
    {
        if (flag){
    <span class="todoitem-tag"> @innerHtml </span>
        } 

        return null;
    }
}

<ul class="todolist">
    @foreach (TodoItem todo in Model)
    {
        <li class="todoitem @(todo.Done ? "done" : "") @(todo.Id == ViewBag.HoveredTodoId ? "loaded-hovered" : "")">
            <div class="todoitem-left">
                <button class="todoitem-btn-done" id="@todo.Id" onclick="handleBtnDoneClick(this)"></button>
            </div>
            <div class="todoitem-right">
                <div class="todoitem-desc">
                    @todo.Description
                </div>
                <div class="todoitem-info">
                    @RenderScheduledTimeString(todo)
                    @RenderItemTagIfTrue("done", todo.Done)
                </div>
            </div>
        </li>
    }
</ul>
