@model IEnumerable<TodoItem>

@{
    StringHtmlContent RenderScheduledTimeString(TodoItem todo) => 
        new(todo.ScheduledTime?.ToString("HH:mm") ?? "unsheduled");


    object? RenderItemTagIfTrue(string innerHtml, bool flag)
    {
        if (flag){
            <span class="todoitem-tag"> @innerHtml </span>
        } 

        return null;
    }
}

<ul class="todolist">
    @foreach (TodoItem todo in Model)
    {
        <li @(todo.Done ? "class=done" : "") > 
            <div class="todoitem-left"> 
                <button class="todoitem-btn-done" id="@todo.Id"></button>
            </div>
            <div class="todoitem-right">
                <div class="todoitem-name">
                    @todo.Name
                </div>
                <div class="todoitem-info">
                    @RenderScheduledTimeString(todo)
                    @RenderItemTagIfTrue("done", todo.Done)
                </div>
            </div>
        </li>
    }
</ul>
